<div id="airport-switch" class="dialog notSelectable">
    <p class="dialog-title">Select Airport</p>

    <div>
        <label class="form-label" for="airport-search">
            Search airports
        </label>

        <input
            id="airport-search"
            name="airport-search"
            class="search"
            type="search"
            placeholder="Search airports"
            autocomplete="off"
        >
    </div>

    <div class="dialog-body nice-scrollbar"></div>
</div>
